<div class="row">
  <div class="col-xs-10">
    <% flash.each do |name,msg| %>
      <div class="alert alert-<%="#{name}"%>">
        <a href="#" class=" close text-<%="#{name}"%> float-end" data-dismiss="modal">[close]</a>
        <%= content_tag :div,msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
          <% end  %>
        </div>

